
<div class="py-5 bg-light">

    <div class="container" id="contact" >
                
        <div class="row">
          <div class="col-md-6 mb-5 text-center">
            <h2>Contact Us</h2>
            <hr>
            {% include contact-form.html %}
          </div>
          <div class="col-md-6 mb-5 text-center">
            <h2>Follow @XRLandscape</h2>
            <hr>
            <a class="social-media-icon" href="https://facebook.com/xrlandscape" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a class="social-media-icon" href="https://twitter.com/xrlandscape" target="_blank"><i class="fab fa-twitter-square"></i></a>
            <a class="social-media-icon" href="https://instagram.com/xrlandscape" target="_blank"><i class="fab fa-instagram-square"></i></a>
          </div>
        </div>
        <!-- /.row -->

    </div>
</div>
