
<form
    action="https://formsubmit.co/633f9512c62cdcd8f285ae1321cfb08c"
    method="POST">
     
    <input type="hidden" name="_next" value="{{ site.url }}/thanks" />

    <input      type="text" name="_name"
                placeholder="First and Last (Required)"
                required="">
                
    <input      type="email" name="_email"
                placeholder="email@domain.com (Required)"
                required="" >
    <br>

    <textarea   name="_message"
                placeholder="Message"
                rows=5
                style="resize: none;"/></textarea>
        
    <!-- Google Captcha-->
    <div style="text-align: center;" >
        <div class="g-recaptcha" style="display: inline-block;" data-sitekey="6Lf6r-cZAAAAAA8XJ9H8nUZ2MN5XfwbS6JhE2pQD" data-callback="enableBtn"></div>
    </div>
    
    <!-- Submit button -->
    <button     type="submit"
                id="sendBtn"
                class="">Send</button>
    
</form>

<script>
 function enableBtn(){
    document.getElementById("sendBtn").disabled = false;
    document.getElementById("sendBtn").classList.remove('w3-pale-green');
    document.getElementById("sendBtn").classList.add('w3-green');
 }
 </script>
