
<form
    action="https://formsubmit.co/633f9512c62cdcd8f285ae1321cfb08c"
    method="POST">
    
    <!-- redirect-->
    <input type="hidden" name="_next" value="{{ site.url }}" />

    <!-- name field-->
    <input      type="text" name="_name"
                style="width:100%"
                placeholder="Name"
                required="">
    <br>

    <!-- email field-->
    <input      type="email" name="_email"
                style="width:100%"
                placeholder="Email Address"
                required="">
    <br>

    <!-- message field -->
    <textarea   name="_message"
                placeholder="Message"
                style="width:100%; resize: none;"
                rows=4
                required=""/></textarea>
    <br>

    <!-- Google Captcha-->
    <input type="hidden" name="_captcha" value="false">
    <div style="text-align: center;" >
        <div class="g-recaptcha" style="display: inline-block;" data-sitekey="6Lf6r-cZAAAAAA8XJ9H8nUZ2MN5XfwbS6JhE2pQD" data-callback="enableBtn"></div>
    </div>
    <br>

    <!-- Submit button -->
    <button     type="submit"
                id="sendBtn"
                style="width:100%;"
                class="form-send-disabled"
                disabled="disabled">Send</button>
    
</form>

<!-- Javascript to enable send button once recaptcha has been solved -->
<script>
 function enableBtn(){
    document.getElementById("sendBtn").disabled = false;
    document.getElementById("sendBtn").classList.remove('form-send-disabled');
    document.getElementById("sendBtn").classList.add('form-send-enabled');
 }
 </script>
